# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

/Qt_6_7_1_for_macOS-Release
/Qt_6_7_1_for_macOS-Debug
/Qt_6_7_1_for_macOS-Profile
/Qt_6_7_1_for_iOS-Debug
/Qt_6_7_1_for_iOS-Release
/Qt_6_7_1_for_iOS-Profile
/Qt_6_7_1_for_iOS_Simulator-Debug
/Qt_6_7_1_for_iOS_Simulator-Release
/Qt_6_7_1_for_iOS_Simulator-Profile

*.qtds
*.qtds.*
*.user
*.conf
*.shared


# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
*.DS_Store